@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Help Tracking</h1>
    <p class="lead">Student Tracking App to help journal students' visit(s) to ICT offices.</p>
    <p><a href="~/Tracking/Search?studentInfo=%20" class="btn btn-primary btn-lg" >Try me! &raquo;</a></p>
</div>

